Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -w
  - -s

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run>=0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.138.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'

docs(README): promote `set -x` over `set -v` for troubleshooting
  README.md
Due: none

test(pre-commit): upgrade perltidy to 20210402
  .pre-commit-config.yaml
Due: none

python: add -X arg completion
  completions/python
Due: shfmt

refactor(pytest): generalize option choice arg parsing
  completions/pytest
Due: shfmt

feat(pytest): complete --vcr-record(-mode) args
  completions/pytest
Due: shfmt

test: don't close pexpect stdout log in CI
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(pre-commit): upgrade flake8-bugbear to 21.4.3
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade flake8 URL
  .pre-commit-config.yaml
Due: none

feat(apt-get): add reinstall and --error-on support
  completions/apt-get
Due: shfmt

feat(apt-get): recognize auto-remove as autoremove alias
  completions/apt-get
Due: shfmt

fix(dpkg): don't offer broken option completions ending with "-"
  completions/dpkg
  test/t/test_dpkg.py
Due: shfmt, update-test-cmd-list, mypy

feat(perltidy): support long variants of arg completed options
  completions/perltidy
Due: shfmt

feat(dpkg): more option arg completions
  completions/dpkg
Due: shfmt

test(pre-commit): upgrade pyupgrade to 2.12.0
  .pre-commit-config.yaml
Due: none

fix(_known_hosts_real): protect against non-default $IFS
  bash_completion
Due: shfmt

fix(_known_hosts_real): protect against non-default $IFS (#519)
  bash_completion
Due: shfmt

test(pdftoppm): require command for options test
  test/t/test_pdftoppm.py
  test/test-cmd-list.txt
Due: update-test-cmd-list, mypy

Install nginx-openrc instead of nginx for init script
  install-packages.sh
Due: shfmt

feat(ntpdate): support parsing help from ones responding to -h
  completions/ntpdate
Due: shfmt

fix(tar): avoid expansion on gtar options parse
  completions/tar
  test/t/test_tar.py
Due: shfmt, update-test-cmd-list, mypy

test(pre-commit): upgrade flake8 to 3.9.1
  .pre-commit-config.yaml
Due: none

feat(tar): add more option required arg completions
  completions/tar
Due: shfmt

fix(tar): localize $i on options parse
  completions/tar
Due: shfmt

test(pre-commit): upgrade GitHub action to 2.0.2
  .github/workflows/check.yaml
Due: none

test(pre-commit): upgrade shellcheck to 0.7.2, address findings
  .pre-commit-config.yaml
  bash_completion
  bash_completion.sh.in
  completions/7z
  completions/nslookup
Due: shfmt

test(get_env): filter empty lines in output
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test: xfail non-longopt csplit, date, ld, pr, and rmdir
  test/t/test_csplit.py
  test/t/test_date.py
  test/t/test_ld.py
  test/t/test_pr.py
  test/t/test_rmdir.py
Due: update-test-cmd-list, mypy

unzip, zipinfo: recognize FreeCAD files
  bash_completion
Due: shfmt

feat(unzip,zipinfo): recognize FreeCAD files (#520)
  bash_completion
Due: shfmt

feat(arp,vipw): fallback to _parse_usage if _parse_help yields nothing
  completions/arp
  completions/vipw
Due: shfmt

test(su): skip options test on non-Linux
  test/t/test_su.py
Due: update-test-cmd-list, mypy

refactor: simplify _parse_help to _parse_usage fallback
  completions/_cal
  completions/_chsh
  completions/_dmesg
  completions/_hexdump
  completions/chmod
  completions/grpck
  completions/hostname
  completions/ifstat
  completions/make
  completions/man
  completions/modinfo
  completions/ntpdate
  completions/passwd
  completions/ping
  completions/pwck
  completions/quota
  completions/sudo
  completions/sysctl
  completions/timeout
  completions/tracepath
Due: shfmt

style(su): remove superflous --help with _parse_help
  completions/_su
Due: shfmt

feat: add return values for _parse_help and _parse_usage
  bash_completion
  test/t/unit/test_unit_parse_help.py
  test/t/unit/test_unit_parse_usage.py
Due: shfmt, update-test-cmd-list, mypy

vipw: complete -d with dirs
  completions/vipw
Due: shfmt

test(pre-commit): upgrade pyupgrade to 2.13.0
  .pre-commit-config.yaml
Due: none

feat(gssdp-device-sniffer): new completion, common with gssdp-discover
  completions/.gitignore
  completions/Makefile.am
  completions/gssdp-discover
  test/t/Makefile.am
  test/t/test_gssdp_device_sniffer.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

test(pre-commit): upgrade black to 21.4b1
  .pre-commit-config.yaml
  test/requirements-dev.txt
  test/t/unit/test_unit_get_comp_words_by_ref.py
  test/t/unit/test_unit_get_cword.py
Due: update-test-cmd-list, mypy

feat(unzip,zipinfo): complete with *.kar
  bash_completion
Due: shfmt

fix(scp): nounset mode suboption arg completion
  completions/ssh
  test/t/test_scp.py
Due: shfmt, update-test-cmd-list, mypy

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
