Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.3.0
  entry: shfmt
  args:
  - -w
  - -s
  stages:
  - commit

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false
  stages:
  - commit

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run>=0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg
  stages:
  - commit

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.140.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'
  stages:
  - commit

fix(secret-tool): fix empty candidates for "secret-tool search" options
  completions/secret-tool
Due: shfmt

fix(_xinetd_services,aspell,dpkg,etc.): avoid unnecessary word splitting
  bash_completion
  completions/aspell
  completions/dpkg
  completions/hcitool
  completions/invoke-rc.d
  completions/minicom
  completions/update-rc.d
Due: shfmt

fix(nounset): fix nounset errors of -W '${arr[@]}'
  bash_completion
  completions/_adb
  completions/chronyc
  completions/curl
  completions/cvs
  completions/dot
  completions/dpkg
  completions/gdb
  completions/hunspell
  completions/invoke-rc.d
  completions/mplayer
  completions/mysql
  completions/qemu
  completions/rdesktop
  completions/ri
  completions/screen
  completions/secret-tool
  completions/ssh-keygen
  completions/strace
  completions/update-rc.d
  completions/vpnc
  completions/xdg-mime
Due: shfmt

fix(nounset): fix nounset errors of -W '${COMPRELY[@]}'
  bash_completion
  completions/_rtcwake
  completions/aptitude
  completions/aspell
  completions/complete
  completions/curl
  completions/cvs
  completions/dot
  completions/hcitool
  completions/ifup
  completions/info
  completions/ip
  completions/ipsec
  completions/man
  completions/minicom
  completions/pgrep
  completions/ps
  completions/pylint
  completions/pytest
  completions/rdesktop
  completions/ri
  completions/route
  completions/sha256sum
  completions/ssh
  completions/ssh-keygen
  completions/tune2fs
  completions/useradd
  completions/usermod
  completions/xfreerdp
  completions/zopflipng
Due: shfmt

Add markdown completion for okular
  bash_completion
Due: shfmt

style(test): remove redundant require_cmd with require_longopt
  test/t/test_2to3.py
  test/t/test_cpan2dist.py
  test/t/test_dmypy.py
  test/t/test_isort.py
  test/t/test_jsonschema.py
  test/t/test_mypy.py
  test/t/test_pydocstyle.py
  test/t/test_pylint.py
Due: update-test-cmd-list, mypy

feat(pylint): message ids completion
  completions/pylint
  test/t/test_pylint.py
Due: shfmt, update-test-cmd-list, mypy

feat(sqlite3): add -maxsize arg non-completion
  completions/sqlite3
Due: shfmt

feat(xmlwf): add -a and -b arg non-completions
  completions/xmlwf
  test/t/test_xmlwf.py
Due: shfmt, update-test-cmd-list, mypy

fix(xmlwf): try _parse_help before _parse_usage
  completions/xmlwf
Due: shfmt

Create pyenv
  completions/pyenv
Due: shfmt

Add missing double quotes for command variables.
  bash_completion
Due: shfmt

Add one more pair of missing double quotes.
  bash_completion
Due: shfmt

style(setup-symlinks,docker-script): remove redundant quotes
  setup-symlinks.sh
  test/docker-script.sh
Due: shfmt

chore(make-changelog.py): invoke python3 through /usr/bin/env
  extra/make-changelog.py
Due: mypy

docs(COPYING): use unmodified upstream license file
  COPYING
Due: none

style(CONTRIBUTING,README): trim excess whitespace
  CONTRIBUTING.md
  README.md
Due: none

style(bash_completion): remove redundant quotes
  bash_completion
Due: shfmt

feat(tree): support long option args separated by equals sign
  completions/tree
  test/t/test_tree.py
Due: shfmt, update-test-cmd-list, mypy

feat(tree): new completion
  completions/Makefile.am
  completions/tree
  test/t/Makefile.am
  test/t/test_tree.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

ci(github): run pushes only on master
  .github/workflows/check.yaml
Due: none

test(pre-commit): use separate isort hook
  .pre-commit-config.yaml
Due: none

chore(deps): upgrade shfmt to 3.3.1
  .pre-commit-config.yaml
Due: none

fix(secret-tool): fix empty candidates for "secret-tool search" options
  completions/secret-tool
  test/t/test_secret_tool.py
Due: shfmt, update-test-cmd-list, mypy

fix(secret-tool): protect unset opts[...] from pathname expansions
  completions/secret-tool
Due: shfmt

fix(_ltrim_colon_completions): do compaction of sparse COMPREPLY
  bash_completion
Due: shfmt

fix(tree): work around bash-4.2 bug of [[ ${arr[*]} == *text* ]]
  completions/tree
Due: shfmt

test(secret-tool): style: use `split` to create a list for consistency
  test/t/test_secret_tool.py
Due: update-test-cmd-list, mypy

fix(man): work around the case both "manpath" and "man -w" are missing
  completions/man
Due: shfmt

test(conftest): make cwd in @pytest.mark.bashcomp relative from fixtures
  test/t/conftest.py
Due: update-test-cmd-list, mypy

chore(pre-commit): specify pycodestyle and pyflakes versions for flake8
  .pre-commit-config.yaml
Due: none

ci(renovate): use PEP 440 version for black and flake pre-commit
  renovate.json
Due: none

chore(deps): make Python linter dependencies exact versioned
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

ci(renovate): group black and flake8 updates
  renovate.json
Due: none

Add renovate.json
  renovate.json
Due: none

ci(renovate): use `ignorePresets` to remove path ignoring
  renovate.json
Due: none

chore(deps): duplicate some pre-commit ones in dev dependencies
  test/requirements-dev.txt
Due: none

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
