Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.2.2]
        entry: shfmt
        args: [-w, -s]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
        args: [-f, gcc]
        types: [text]
        files: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$
        exclude: ^completions/(\.gitignore|Makefile.*)$
        require_serial: false  # We disable SC1090 anyway, so parallel is ok

  - repo: local
    hooks:
      - id: update-test-cmd-list
        name: update-test-cmd-list
        language: script
        entry: test/update-test-cmd-list
        files: ^test/t/.+\.py$
        pass_filenames: false

  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
      - id: black
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: [--config=test/setup.cfg]
        additional_dependencies: [flake8-bugbear==20.1.4]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: https://github.com/PyCQA/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: [--settings-path=test/setup.cfg]
        types: [text]
        files: ^(helpers/python|.+\.py)$
        exclude: ^completions/

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        additional_dependencies: [venv-run>=0.1.0]
        entry: venv-run mypy
        args: [--config-file=test/setup.cfg]
        types: [python]
        # Intentionally not run on helpers/python (we support very old versions)
        exclude: ^completions/|^test/fixtures/pytest/

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.7.4
    hooks:
      - id: pyupgrade
        args: [--py36-plus, --keep-percent-format]
        exclude: ^completions/

  - repo: https://github.com/perltidy/perltidy
    rev: "20210111"
    hooks:
      - id: perltidy
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: local
    hooks:
      - id: perlcritic
        name: perlcritic
        language: perl
        additional_dependencies: [PETDANCE/Perl-Critic-1.138.tar.gz]
        entry: perlcritic
        args: [--quiet, --verbose, "5"]
        types: [text]
        files: ^(helpers/perl|.+\.p[ml])$

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.26.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-case-conflict

test(pre-commit): upgrade pyupgrade to 2.14.0
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade black to 21.5b0
  .pre-commit-config.yaml
Due: none

feat(strings): add --output-separator/-s, -arch arg non-completions
  completions/strings
Due: shfmt

refactor(strings): scrape --encoding/-e args from --help output
  completions/strings
Due: shfmt

feat(strings): fallback to _parse_usage if _parse_help yields nothing
  completions/strings
Due: shfmt

test(getconf): skip variable completion if -a fails
  test/t/test_getconf.py
Due: update-test-cmd-list, mypy

test(dmesg,vipw): expect no options on macOS
  test/t/test_dmesg.py
  test/t/test_vipw.py
Due: update-test-cmd-list, mypy

feat(fstypes): scrape lsvfs output on generic (~non-Linux) case
  bash_completion
Due: shfmt

test(umount): skip Linux specific tests on non-Linux
  test/t/test_umount.py
Due: update-test-cmd-list, mypy

fix(_ip_addresses): sed portability
  bash_completion
Due: shfmt

test(pre-commit): upgrade flake8 to 3.9.2
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade pyupgrade to 2.15.0
  .pre-commit-config.yaml
Due: none

Added support for 'cvs status' completions
  completions/cvs
  test/t/test_cvs.py
Due: shfmt, update-test-cmd-list, mypy

cvs: complete status, add some test cases
  completions/cvs
  test/t/test_cvs.py
Due: shfmt, update-test-cmd-list, mypy

test(pre-commit): upgrade shfmt to 3.3.0, run on all files
  .pre-commit-config.yaml
  bash_completion
  completions/_yum
  completions/ip
  completions/jarsigner
  completions/rpm
  completions/strace
  completions/sudo
  completions/tar
Due: shfmt

test(cvs): reformat with black
  test/t/test_cvs.py
Due: update-test-cmd-list, mypy

test(pre-commit): upgrade black to 21.5b1
  test/requirements-dev.txt
Due: none

test(pre-commit): actually upgrade black to 21.5b1
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade pyupgrade to 2.17.0
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade pre-commit-hooks to 4.0.1
  .pre-commit-config.yaml
Due: none

fix(known_hosts): handle = separated ssh config options
  bash_completion
  test/fixtures/_known_hosts_real/config
  test/fixtures/_known_hosts_real/config_tilde
Due: shfmt

conftest: set HISTFILE in order not to affect user's history
  test/t/conftest.py
Due: update-test-cmd-list, mypy

Update conftest.py
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test: set HISTFILE=/dev/null in order not to affect user's history (#525)
  test/t/conftest.py
Due: update-test-cmd-list, mypy

conftest(bash): ensure to run the cleanup code
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(quote_readline): turn code comments into docstrings
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

test(quote_readline): check code injection through eval
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

conftest(@pytest.mark.bashcomp): support arg "cwd" and "temp_cwd"
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(quote_readline): use temporary directories
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

_quote_readline_by_ref: fix unintended command execution and pathname expansions
  bash_completion
Due: shfmt

test(quote_readline): use @pytest.mark.bashcomp(temp_cwd=True)
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

test(pre-commit): upgrade pyupgrade to 2.18.1
  .pre-commit-config.yaml
Due: none

style(_quote_readline_by_ref): lint fixes
  bash_completion
  test/t/unit/test_unit_quote_readline.py
Due: shfmt, update-test-cmd-list, mypy
