Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -w
  - -s

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run>=0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.138.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'

style(_quote_readline_by_ref): lint fixes
  bash_completion
  test/t/unit/test_unit_quote_readline.py
Due: shfmt, update-test-cmd-list, mypy

test(quote_readline): use @pytest.mark.bashcomp(temp_cwd=True)
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

test(ant): test in temporary work dir
  test/t/test_ant.py
Due: update-test-cmd-list, mypy

test(invoke-rc.d,service): xfail service completion on macOS
  test/t/test_invoke_rc_d.py
  test/t/test_service.py
Due: update-test-cmd-list, mypy

conftest(assert_complete): support an optional argument "cmd_rendered"
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(quote_readline): add a failing test for unprocessed escape sequences
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

fix(_quote_readline_by_ref): unescape escape sequences using printf
  bash_completion
Due: shfmt

docs(CONTRIBUTING): mention pre-commit
  CONTRIBUTING.md
Due: none

test(quote_readline): add a remark on "rendered_cmd"
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

test: set our prefix to created temp_cwd dirnames
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(portinstall): test in temporary work dir
  test/t/test_portinstall.py
Due: update-test-cmd-list, mypy

test: remove stale SRCDIRABS TODO comment
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(javaws): xfail options test on unparseable -help
  test/t/test_javaws.py
Due: update-test-cmd-list, mypy

test(printenv): avoid xfail condition false positive
  test/t/test_printenv.py
Due: update-test-cmd-list, mypy

test(prepare_fixture_dir): create dirs before files
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(portinstall): remove unneeded cleanup
  test/t/test_portinstall.py
Due: update-test-cmd-list, mypy

test(man): place on demand created files outside src tree
  test/t/test_man.py
Due: update-test-cmd-list, mypy

test: remove no longer needed tmp dir
  test/.gitignore
  test/Makefile.am
Due: none

test(kdvi,kpdf,evince): use @pytest.mark.bashcomp(temp_cwd=True)
  test/t/conftest.py
  test/t/test_evince.py
  test/t/test_kdvi.py
  test/t/test_kpdf.py
Due: update-test-cmd-list, mypy

test(diff_env): detect unwanted changes of OLDPWD in test
  test/t/conftest.py
  test/t/unit/test_unit_known_hosts_real.py
Due: update-test-cmd-list, mypy

test(conftest): add utilities "bash_{save,restore}_variable(bash,var)"
  test/t/conftest.py
  test/t/test_man.py
  test/t/unit/test_unit_known_hosts_real.py
Due: update-test-cmd-list, mypy

test(diff_env): use r"\w" in a regular expression
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(conftest): add new context manager "bash_env_saved"
  test/t/conftest.py
  test/t/test_man.py
  test/t/test_tar.py
  test/t/unit/test_unit_known_hosts_real.py
  test/t/unit/test_unit_quote_readline.py
Due: update-test-cmd-list, mypy

test(ant): do not duplicate project name in import fixture
  test/fixtures/ant/imported-build.xml
Due: none

test(ant): extract complete-ant-cmd.pl presence to a fixture
  test/t/test_ant.py
Due: update-test-cmd-list, mypy

test(ant): do not fail on complete-ant-cmd.pl import prefixes
  test/t/test_ant.py
Due: update-test-cmd-list, mypy

completions: invoke "cd" as "command cd"
  completions/_mount.linux
  completions/_umount.linux
  completions/feh
  completions/removepkg
  completions/sbopkg
  completions/slackpkg
  completions/slapt-get
  test/runLint
  test/t/conftest.py
Due: shfmt, update-test-cmd-list, mypy

completions: add "--" option to "command cd"
  completions/_umount.linux
  completions/feh
  completions/sbopkg
  test/t/conftest.py
Due: shfmt, update-test-cmd-list, mypy

style(editorconfig): set commit message max line length to 72
  .editorconfig
Due: none

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
