Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -w
  - -s

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run>=0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.138.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'

feat(pdftoppm): new completion
  completions/Makefile.am
  completions/pdftoppm
  test/t/Makefile.am
  test/t/test_pdftoppm.py
Due: shfmt, update-test-cmd-list, mypy

screen: match all files in directories under /dev/serial (#496)
  completions/screen
Due: shfmt

chore(pre-commit): upgrade isort to 5.7.0
  .pre-commit-config.yaml
Due: none

feat(7z,file-roller): complete with *.7z.001
  completions/7z
  completions/file-roller
  test/fixtures/7z/hello.7z.001
  test/fixtures/7z/hello.7z.002
  test/t/test_7z.py
Due: shfmt, update-test-cmd-list, mypy

Make configure fall back to bashdefault and default
  completions/configure
Due: shfmt

Fix install of declare completion
  completions/Makefile.am
Due: none

build(install): actually install declare completion (#504)
  completions/Makefile.am
Due: none

feat(xev): new completion
  completions/Makefile.am
  completions/xev
  test/t/Makefile.am
  test/t/test_xev.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

test(generate): use test_basic as default test name
  test/generate
Due: none

build(pre-commit): upgrade markdownlint to 0.27.0
  .pre-commit-config.yaml
Due: none

build(pre-commit): upgrade pyupgrade to 2.10.0
  .pre-commit-config.yaml
Due: none

feat(firefox): add -P and --recording-output arg completions
  completions/firefox
Due: shfmt

refactor(op): deprecate ours in favor of upstream >= 1.2.0 generated one
  completions/Makefile.am
  completions/_op
Due: shfmt

test(codespell): tweak some cases to avoid false positives
  test/t/test_cd.py
  test/t/test_sudo.py
Due: update-test-cmd-list, mypy

test(pre-commit): add codespell
  .pre-commit-config.yaml
  test/codespell-ignore.txt
  test/setup.cfg
Due: none

style(pylint): avoid codespell false positive, and a local variable
  completions/pylint
Due: shfmt

test(pre-commit): upgrade shfmt to 3.2.4
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade markdownlint-cli to 0.27.1
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade flake8-bugbear to 21.3.2
  .pre-commit-config.yaml
Due: none

feat(__load_completion): don't hush errors or output when sourcing files
  bash_completion
Due: shfmt

fix(jq): fix treatment of -f|--from-file
  completions/jq
Due: shfmt

test(pre-commit): upgrade flake8 to 3.9.0
  .pre-commit-config.yaml
Due: none

docs(configure): improve COMP_CONFIGURE_HINTS comment placement
  completions/configure
Due: shfmt

feat(configure): fall back to filedir for unhandled cases
  completions/configure
  test/t/test_configure.py
Due: shfmt, update-test-cmd-list, mypy

test(pre-commit): upgrade pyupgrade to 2.10.1
  .pre-commit-config.yaml
Due: none

fix(find): don't look for -exec etc command if completing before it
  completions/find
Due: shfmt

feat(jq): support all command-line options
  completions/jq
Due: shfmt

feat(jq): support all command-line options (#507)
  completions/jq
Due: shfmt

test(pre-commit): upgrade pyupgrade to 2.11.0
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade perlcritic to 1.140
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade isort to 5.8.0
  .pre-commit-config.yaml
Due: none

fix(jq): do not complete after --args or --jsonargs
  completions/jq
  test/t/test_jq.py
Due: shfmt, update-test-cmd-list, mypy

docs: add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: add bug report and feature request templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs(README): note `set -x` output in issue reports
  README.md
Due: none

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
