Repository scop/bash-completion: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, update-test-cmd-list, mypy, perlcritic

shfmt:
  name: shfmt
  language: golang
  additional_dependencies:
  - mvdan.cc/sh/v3/cmd/shfmt@v3.2.2
  entry: shfmt
  args:
  - -w
  - -s

update-test-cmd-list:
  name: update-test-cmd-list
  language: script
  entry: test/update-test-cmd-list
  pass_filenames: false

mypy:
  name: mypy
  language: python
  additional_dependencies:
  - venv-run>=0.1.0
  entry: venv-run mypy
  args:
  - --config-file=test/setup.cfg

perlcritic:
  name: perlcritic
  language: perl
  additional_dependencies:
  - PETDANCE/Perl-Critic-1.138.tar.gz
  entry: perlcritic
  args:
  - --quiet
  - --verbose
  - '5'

test({remove,slack}pkg): add "--" option to "command cd"
  completions/removepkg
  completions/slackpkg
Due: shfmt

completions: add "--" option to "command cd"
  completions/_umount.linux
  completions/feh
  completions/sbopkg
  test/t/conftest.py
Due: shfmt, update-test-cmd-list, mypy

completions: invoke "cd" as "command cd"
  completions/_mount.linux
  completions/_umount.linux
  completions/feh
  completions/removepkg
  completions/sbopkg
  completions/slackpkg
  completions/slapt-get
  test/runLint
  test/t/conftest.py
Due: shfmt, update-test-cmd-list, mypy

completions: add "show-changelog" to slackpkg
  completions/slackpkg
Due: shfmt

test(man): fix inactive "required_cmd"
  test/t/test_man.py
Due: update-test-cmd-list, mypy

test(bash_env_saved): correctly restore "cwd"
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(bash_env_saved): continue restoring on restoring error
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(BASH_COMPLETION_USER_FILE): explicitly check if it is not /dev/null
  bash_completion
Due: shfmt

test(bash_env_saved): work around nested bash_env
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(conftest): prepare temporary file for HISTFILE
  test/t/conftest.py
Due: update-test-cmd-list, mypy

docs(CONTRIBUTING): note use of Conventional Commits
  CONTRIBUTING.md
Due: none

test(tar,known_hosts,p{gids,pids,names}): use "bash_env_saved"
  test/t/test_man.py
  test/t/test_tar.py
  test/t/unit/test_unit_known_hosts_real.py
  test/t/unit/test_unit_pgids.py
  test/t/unit/test_unit_pids.py
  test/t/unit/test_unit_pnames.py
Due: update-test-cmd-list, mypy

test(commitlint): add config, run with pre-commit
  .commitlintrc.yaml
  .pre-commit-config.yaml
Due: none

test(pre-commit): confine code checks to pre-commit stage
  .pre-commit-config.yaml
Due: none

docs(CONTRIBUTING): note --hook-type's in pre-commit set up
  CONTRIBUTING.md
Due: none

refactor(slackpkg): deprecate in favor of upstream one in >= 15.0.4
  completions/Makefile.am
  completions/_slackpkg
Due: shfmt

test(conftest): prevent MAGIC_MARK from history expansions
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(make): do not strip dirnames for COMP_TYPE=37 (%)
  completions/make
Due: shfmt

test(conftest): support @pytest.mark.bashcomp(required_cmd=True)
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(make): show unique targets in subdirs
  completions/make
Due: shfmt

test(make): add test cases for GitHub #544
  test/t/test_make.py
Due: update-test-cmd-list, mypy

feat(ssh-keyscan): new completion
  completions/Makefile.am
  completions/ssh-keyscan
  test/t/Makefile.am
  test/t/test_ssh_keyscan.py
  test/test-cmd-list.txt
Due: shfmt, update-test-cmd-list, mypy

test(conftest): make cwd in @pytest.mark.bashcomp relative from fixtures
  test/t/conftest.py
Due: update-test-cmd-list, mypy

feat(ssh-keyscan): complete comma separated -t args
  completions/ssh-keyscan
  test/t/test_ssh_keyscan.py
Due: shfmt, update-test-cmd-list, mypy

test(pre-commit): upgrade black to 21.6b0
  .pre-commit-config.yaml
  test/requirements-dev.txt
Due: none

test(pre-commit): upgrade isort to 5.9.1, use as flake8 plugin
  .pre-commit-config.yaml
Due: none

test(pre-commit): upgrade pyupgrade to 2.20.0
  .pre-commit-config.yaml
Due: none

test(pre-commit): switch from codespell to typos
  .pre-commit-config.yaml
  completions/pytest
  test/codespell-ignore.txt
  test/setup.cfg
Due: shfmt

test(pre-commit): upgrade perltidy to 20210625
  .pre-commit-config.yaml
Due: none

test(conftest): check error messages in assert_complete()
  test/t/conftest.py
Due: update-test-cmd-list, mypy

test(convert): check existence of the command
  test/t/test_convert.py
Due: update-test-cmd-list, mypy

fix(scp): fix nullglob/failglob errors
  completions/ssh
Due: shfmt

test(scp): add failing tests for {fail,null}glob
  test/t/test_scp.py
Due: update-test-cmd-list, mypy

fix(contest): expect "rendered_cmd" but not "cmd" in assert_complete()
  test/t/conftest.py
Due: update-test-cmd-list, mypy

fix(_ltrim_colon_completions): do compaction of sparse COMPREPLY
  bash_completion
Due: shfmt

fix(secret-tool): protect unset opts[...] from pathname expansions
  completions/secret-tool
Due: shfmt

Path conditions:
  shfmt: any of: ^(bash_completion|completions/.+|test/(config/bashrc|update-test-cmd-list)|.+\.sh(\.in)?)$, but not: ^completions/(\.gitignore|Makefile.*)$
  update-test-cmd-list: any of: ^test/t/.+\.py$
  mypy: any of: \.py$, but not: ^completions/|^test/fixtures/pytest/
  perlcritic: any of: ^(helpers/perl|.+\.p[ml])$
